* {
	margin: 0;
	padding: 0;
	background-color: #0f1516;
	color: #fff;
	font-family: 'Cutive Mono', monospace;
}

.size {
	max-width: 250px;
	height: 400px;
}

.custom-style {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.custom-style-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.card-box {
	height: 96%;
}

.card-space {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media all and (max-width: 900px) {
	.size {
		max-width: 250px;
		height: 340px;
	}
}

@media all and (max-width: 766px) {
	.size {
		max-width: 220px;
		height: 340px;
	}
}
