* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.register-form {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: left;
}

.register-input {
	padding: 5px;
	width: 200px;
	border-radius: 10px;
	margin: 2px;
}
