* {
	margin: 0;
	padding: 0;
	background-color: #0f1516;
	color: #fff;
	font-family: 'Cutive Mono', monospace;
}

.movie-view {
	font-size: 1.1em;
}

@media all and (max-width: 360px) {
	.movie-view {
		font-size: 0.9em;
	}
}
